<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="frmQuanLySuKien.Properties.Settings.QUANLYSUKIENConnectionString" connectionString="Data Source=DESKTOP-HERA2BI;Initial Catalog=QUANLYSUKIEN;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="QUANLYSUKIENConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-HERA2BI;integrated security=SSPI;initial catalog=QUANLYSUKIEN"/>
        <add name="frmQuanLySuKien.Properties.Settings.QUANLYSUKIENConnectionString1" connectionString="Data Source=DESKTOP-HERA2BI\SQLEXPRESS;Initial Catalog=QUANLYSUKIEN;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
